<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<title>About Author Page</title>

<h1 align="center" style="color:Black">About the author of this project</h1>
<br>
<h3>My name is Boris Kriventsov, I am 16 years old.<br>
I created this site to learn programming with the Django framework.</h3>
<br>
<br>
<div class="container text-center">
<h3><a href="{% url 'home' %}" class="btn btn-success">Home</a></h3>

</div>